<div class="jumbotron">
      <div class="container">
        <h2 class="display-3 hidden-sm-down">Welcome to libroute</h2>
        <h2 class="hidden-md-up">Welcome to libroute</h2>
        <br><h4>Deploy scientific and engineering software using industry standard solutions.</h4>
        <br><h4>Customise and optimise for your application and apply to your own data.</h4>
        <br><p><a class="btn btn-primary btn-lg" href="/getting-started" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
