<div class="container">
<h2>Getting started</h2><br>
<p>This page contains a number of examples of libroute definition files</p>
<p>Select load on any of the examples to load them into libroute, then select launch to run.</p>
</div>

<%= render partial: 'example_bash_basic' %>
<%= render partial: 'example_spiral_classification' %>
