<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">libroute</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% actions = ['index','getting_started','documentation','index']
             controllers = ['home','home','home''tasks']
             active_text = (0..actions.length).to_a.map{|idx| params['controller'].eql?(controllers[idx]) & params['action'].eql?(actions[idx]) ? 'active' : ''} %>
          <li class="nav-item <%= active_text[0] %>"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item <%= active_text[1] %>"><a class="nav-link" href="/getting-started">Getting started</a></li>
          <li class="nav-item <%= active_text[2] %>"><a class="nav-link" href="/documentation">Documentation</a></li>
          <li class="nav-item <%= active_text[3] %>"><a class="nav-link" href="/tasks">Tasks</a></li>
        </ul>

      </div>
    </nav>
